<div>
    <div class="header-container">
        <div class="header col-sm-12 col-md-12 col-lg-12 padding">
            <div class="col-md-5 col-lg-7 logo">
                <h2 class="h2">
                    <span routerLink="/app-dash-board" style="margin-left: -6px">
                        <i aria-hidden="true"></i>&nbsp;FINANCIAL DASHBOARD
                    </span>
                </h2>
            </div>

            <div>
                <ul class="setting-menu-list pull-right" style="margin: 0">

                    <li class="setting">
                        <a><i class="fa fa-paint-brush" style="color: white" aria-hidden="true"></i></a>
                    </li>

                    <li class="link" class="setting">
                        <span id="notification_count"></span>
                        <span style="color: white" id="notificationLink">
                            <i class="fa fa-bell" aria-hidden="true" title="View Notification"></i></span>
                    </li>

                    <li class="setting">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                            style="color: white" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
                            class="bttn">
                            <i class="fa fa-cog" aria-hidden="true" title="More options"></i>
                        </button>
                    </li>

                    <li class="setting" routerLink="./app-help">
                        <a>
                            <i class="fa fa-question-circle" aria-hidden="true" title="Help"
                                style="color: white"></i></a>
                    </li>

                    <li class="setting">
                        <i class="fa fa-sign-out color" aria-hidden="true" title="Logout"></i>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>