<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
        <app-barchart1></app-barchart1>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3">
        <app-processcard></app-processcard>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3">
        <app-thermo-chart></app-thermo-chart>
    </div>
</div>

<div class="row">
    <div class="col-md-3 col-sm-3">
        <app-barchart2></app-barchart2>
    </div>
    <div class="col-md-3 col-sm-3">
        <app-barchart3></app-barchart3>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3">&nbsp;</div>
    <div class="col-md-3 col-sm-3">
        <app-thermoprogress></app-thermoprogress>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-sm-6">
        <app-piechart></app-piechart>
    </div>
    <div class="col-md-3 col-sm-3">
        <app-log-table></app-log-table>
    </div>
    <div class="col-md-3 col-sm-3">
        <app-thermoprogresscard></app-thermoprogresscard>
    </div>
</div>


<!-- <div class="row">&nbsp;</div> -->
<!-- <div class="row">
    <div class="col-md-6 col-sm-6">
        <app-piechart></app-piechart>
    </div>
    <div class="col-md-3 col-sm-3">
        <app-log-table></app-log-table>
    </div>
    <div class="col-md-3 col-sm-3">
        <app-thermoprogresscard></app-thermoprogresscard>
    </div>
</div> -->
<!-- <div class="row">
<div class="col-md-3 col-sm-3">
        <app-thermoprogress></app-thermoprogress>
    </div>

</div>

<div class="row">

    <div class="col-md-3 col-sm-3">
        <app-thermoprogresscard></app-thermoprogresscard>
    </div>

</div> -->

<!-- </div> -->

<!-- <div class="row">
    <div class="col-md-6 col-sm-6">
        <app-thermo-chart></app-thermo-chart>
    </div>
</div> -->