#chart {
    max-width: 380px;
    margin: 35px auto;
    padding: 0;
  }
  
  .card{
    width: 126%;
    background-color: #fff;
    border-radius: 19px;
    border: none;
    position: relative;
    /* margin-bottom: 30px; */
    box-shadow: 0 0.46875rem 2.1875rem rgba(90, 97, 105, 0.1), 0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.1), 0 0.25rem 0.53125rem rgba(90, 97, 105, 0.12), 0 0.125rem 0.1875rem rgba(90 97 105 / 10%);
    margin-top: -7px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
  }

  p {
    font-family: Lato;
  }

  

  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  /* Remove extra left and right margins, due to padding */
  /* .row
  {
    margin: 20px -5px;
  } */
  /* Clear floats after the columns */
  /* .row:after {
    content: "";
    display: table;
    clear: both;
  } */
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  /* Style the counter cards */
  .card7 {
    box-shadow: 0 0.46875rem 2.1875rem rgb(90 97 105 / 10%), 0 0.9375rem 1.40625rem rgb(90 97 105 / 10%), 0 0.25rem 0.53125rem rgb(90 97 105 / 12%), 0 0.125rem 0.1875rem rgb(90 97 105 / 10%);
    padding: 16px;
    text-align: center;
    background-color: white;
    margin-left: 203px;
    width: 390px;
    margin-top: -7px;
    border-radius: 23px;
    height: 402px;
  }
  

   /* .card7{
    background-color: #fff;
    border-radius: 15px;
    border: none;
    position: relative;
    margin-bottom: 30px;
    box-shadow: 0 0.46875rem 2.1875rem rgba(90, 97, 105, 0.1), 0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.1), 0 0.25rem 0.53125rem rgba(90, 97, 105, 0.12), 0 0.125rem 0.1875rem rgba(90 97 105 / 10%);
    margin-top: 30px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    margin-right: 14px;
  } */