<!-- <div class="container-fluid">
    <app-header></app-header>
    <div class="dataView">
        <app-body></app-body>
        <app-footer></app-footer>
    </div>
</div> -->
<div class="container-fluid">
    <app-header></app-header>
    <div class="dataView">
        <div class="row">
            <div class="col-lg-1">&nbsp;</div>
            <div class="col-lg-10">
                <app-body></app-body>
            </div>
            <div class="col-lg-1">&nbsp;</div>
        </div>
        <app-footer></app-footer>
    </div>
</div>